<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d0a1cf">  <td>17/05/14 21:52:01</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:modules.Guru99Test@5315b42e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1915058446</td>   <td></td> </tr>
<tr bgcolor="b37991">  <td>17/05/14 21:52:14</td>   <td>12613</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Guru99Test.guru_test(java.lang.String, java.lang.String)[pri:0, instance:modules.Guru99Test@5315b42e]">guru_test</td> 
  <td>main@1915058446</td>   <td></td> </tr>
<tr bgcolor="d0a1cf">  <td>17/05/14 21:52:21</td>   <td>19331</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.takeScreenShotIfFailure(org.testng.ITestResult)[pri:0, instance:modules.Guru99Test@5315b42e]">&lt;&lt;takeScreenShotIfFailure</td> 
<td>&nbsp;</td>  <td>main@1915058446</td>   <td></td> </tr>
<tr bgcolor="d0a1cf">  <td>17/05/14 21:52:21</td>   <td>19357</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:modules.Guru99Test@5315b42e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1915058446</td>   <td></td> </tr>
</table>
